<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="en">
		<meta charset="UTF-8">
		<title>登录</title>
	</head>
	<body>
		<!--<form action="/api/common/imgUpload.do" method="POST" enctype="multipart/form-data">
			选择文件: <input type="file" name="fileName"/>
			<input type="submit" value="Upload"/>
		</form>-->
		<form name="userForm2" action="http://localhost:8800/api/common/imgUpload.do"  enctype="multipart/form-data"  method="post">
			<input type="file" name="file">
		<input type="submit" value="上传" >
		</form>
	<img th:src="@{'http://'+${url}}">
	</body>
</html>